.app {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

.main-panel {
  display: flex;
  flex-direction: column;
  height: 90vh;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  padding: 10px;
  overflow-x: hidden;
  min-width: 65vh;
  max-width: 65vh;
}

.title-card {
  display: flex;
  justify-content: center;
}

@media (max-width: 1120px) {
  .app {
    padding: 5vh 2vh;
  }

  .main-panel {
    min-width: 0;
  }

  .preview {
    display: none;
  }
}